In [1]:
import pandas as pd
import numpy as np

In [74]:
# load data
data = pd.read_csv('/Users/douglasstrodtman/Downloads/import_fixed.csv')
data.visit_dt

0       6/18/15
1       7/16/15
2       2/21/16
3       6/18/16
4        7/8/16
5       7/26/16
6       8/15/16
7       6/17/15
8       7/13/15
9       7/13/15
10     10/11/16
11      11/7/16
12     11/28/16
13     12/13/16
14      7/10/15
15      7/10/15
16      8/17/15
17      9/28/16
18     10/14/16
19      8/14/15
20     10/16/15
21      9/30/16
22     10/21/16
23      8/24/15
24      3/23/16
25       6/8/16
26      6/30/16
27      7/19/16
28       8/9/16
29      8/24/15
         ...
340     12/8/16
341     12/1/16
342     12/8/16
343    12/16/16
344    12/12/16
345    12/19/16
346    12/15/16
347    12/20/16
348    12/20/16
349    12/27/16
350    12/27/16
351     7/14/16
352     7/19/16
353     7/26/16
354      8/2/16
355    12/15/16
356    12/19/16
357         NaN
358      2/3/17
359     2/10/17
360     2/21/17
361     2/28/17
362     2/24/17
363      3/6/17
364     2/23/17
365      3/2/17
366     1/27/17
367     2/10/17
368     2/23/17
369      3/2/17
Name: visit_dt, dtype: object

In [71]:
intakes = data.loc[:, 'record_id':'sid']
intakes

     record_id  nlr_id    sid
0            1  101_LG  KA001
1            2  102_RS  IA002
2            2  102_RS  IA002
3            2  102_RS  IA002
4            2  102_RS  IA002
5            2  102_RS  IA002
6            2  102_RS  IA002
7            3  103_AC  KA003
8            4  104_LB  FA004
9            5  105_BB  JA005
10           5  105_BB  JA005
11           5  105_BB  JA005
12           5  105_BB  JA005
13           5  105_BB  JA005
14           6  106_KM  JA006
15           7  107_TM  FA007
16         231  108_LG  LB231
17         231  108_LG  LB231
18         231  108_LG  LB231
19           8  109_KT  LA008
20           8  109_KT  LA008
21           8  109_KT  LA008
22           8  109_KT  LA008
23           9  110_HH  JA009
24           9  110_HH  JA009
25           9  110_HH  JA009
26           9  110_HH  JA009
27           9  110_HH  JA009
28           9  110_HH  JA009
29          10  111_JH  IA010
..         ...     ...    ...
340        107  529_NG  OA107
341        108  530_IH  OA108
342        108  530_IH  OA108
343        108  530_IH  OA108
344        251  531_RC  OB251
345        251  531_RC  OB251
346        109  532_AS  NA109
347        109  532_AS  NA109
348        110  533_LG  PA110
349        110  533_LG  PA110
350        111  534_KC  OA111
351        112  601_CC  TA112
352        112  601_CC  TA112
353        113  602_JK  TA113
354        113  602_JK  TA113
355        114  603_SB  PA114
356        114  603_SB  PA114
357        114  603_SB  PA114
358        249   NB249  NB249
359        249   NB249  NB249
360        222   OB222  OB222
361        222   OB222  OB222
362        264   OB264  OB264
363        264   OB264  OB264
364        269   OB269  OB269
365        269   OB269  OB269
366        226   PB226  PB226
367        226   PB226  PB226
368        284   RB284  RB284
369        284   RB284  RB284

[370 rows x 3 columns]

In [75]:
sub_ind = 0
sub_ind_list = np.arange(len(pd.unique(data.sid)))

for sub in pd.unique(data.sid):
    temp_ind = data.index[data.sid==sub]
    temp_nlr = data.nlr_id[temp_ind[0]]
    temp_sid = sub
    temp_record = data.record_id[temp_ind[0]]
    sub_ind_list[sub_ind]= temp_ind[0]
    sub_ind += 1
    data.loc[temp_ind, 'visit_dt']=data.visit_dt[temp_ind]+'{}'.format(' 00:00')
    data.loc[temp_ind,['sid', 'nlr_id']]=''

In [77]:
data.visit_dt

0       6/18/15 00:00
1       7/16/15 00:00
2       2/21/16 00:00
3       6/18/16 00:00
4        7/8/16 00:00
5       7/26/16 00:00
6       8/15/16 00:00
7       6/17/15 00:00
8       7/13/15 00:00
9       7/13/15 00:00
10     10/11/16 00:00
11      11/7/16 00:00
12     11/28/16 00:00
13     12/13/16 00:00
14      7/10/15 00:00
15      7/10/15 00:00
16      8/17/15 00:00
17      9/28/16 00:00
18     10/14/16 00:00
19      8/14/15 00:00
20     10/16/15 00:00
21      9/30/16 00:00
22     10/21/16 00:00
23      8/24/15 00:00
24      3/23/16 00:00
25       6/8/16 00:00
26      6/30/16 00:00
27      7/19/16 00:00
28       8/9/16 00:00
29      8/24/15 00:00
            ...
340     12/8/16 00:00
341     12/1/16 00:00
342     12/8/16 00:00
343    12/16/16 00:00
344    12/12/16 00:00
345    12/19/16 00:00
346    12/15/16 00:00
347    12/20/16 00:00
348    12/20/16 00:00
349    12/27/16 00:00
350    12/27/16 00:00
351     7/14/16 00:00
352     7/19/16 00:00
353     7/26/16 00:00
354      8/2/16 00:00
355    12/15/16 00:00
356    12/19/16 00:00
357               NaN
358      2/3/17 00:00
359     2/10/17 00:00
360     2/21/17 00:00
361     2/28/17 00:00
362     2/24/17 00:00
363      3/6/17 00:00
364     2/23/17 00:00
365      3/2/17 00:00
366     1/27/17 00:00
367     2/10/17 00:00
368     2/23/17 00:00
369      3/2/17 00:00
Name: visit_dt, dtype: object

In [78]:
data.to_csv('~/Downloads/final_import.csv')

In [68]:
final_intake = intakes.loc[sub_ind_list.tolist()]
final_intake.insert(3, 'redcap_event_name', 'subject_intake_arm_1', allow_duplicates=False)
final_intake

     record_id  nlr_id    sid     redcap_event_name
0            1  101_LG  KA001  subject_intake_arm_1
1            2  102_RS  IA002  subject_intake_arm_1
7            3  103_AC  KA003  subject_intake_arm_1
8            4  104_LB  FA004  subject_intake_arm_1
9            5  105_BB  JA005  subject_intake_arm_1
14           6  106_KM  JA006  subject_intake_arm_1
15           7  107_TM  FA007  subject_intake_arm_1
16         231  108_LG  LB231  subject_intake_arm_1
19           8  109_KT  LA008  subject_intake_arm_1
23           9  110_HH  JA009  subject_intake_arm_1
29          10  111_JH  IA010  subject_intake_arm_1
30          11  112_AR  LA011  subject_intake_arm_1
31          12  113_JK  KA012  subject_intake_arm_1
32          13  115_PS  HA013  subject_intake_arm_1
33          14  117_CG  KA014  subject_intake_arm_1
36          15  118_IH  IA015  subject_intake_arm_1
37          16  119_NH  FA016  subject_intake_arm_1
38          17  121_GG  LA017  subject_intake_arm_1
39          18  123_MD  JA018  subject_intake_arm_1
40          19  124_AT  HA019  subject_intake_arm_1
45          20  126_OC  HA020  subject_intake_arm_1
46          21  127_AM  HA021  subject_intake_arm_1
51          22  129_KA  IA022  subject_intake_arm_1
52          23  130_RW  KA023  subject_intake_arm_1
56          24  131_MS  GA024  subject_intake_arm_1
57          25  132_WP  HA025  subject_intake_arm_1
62          26  133_ML  HA026  subject_intake_arm_1
65          27  135_RD  HA027  subject_intake_arm_1
66          28  137_GR  IA028  subject_intake_arm_1
67          29  138_LA  HA029  subject_intake_arm_1
..         ...     ...    ...                   ...
291         97  514_LR  RA097  subject_intake_arm_1
293        238  515_AB  RB238  subject_intake_arm_1
295         98  516_TT  QA098  subject_intake_arm_1
298        256  517_CT  PB256  subject_intake_arm_1
302        244  518_ML  PB244  subject_intake_arm_1
305         99  519_MF  PA099  subject_intake_arm_1
308        100  520_AA  PA100  subject_intake_arm_1
311        101  521_GP  OA101  subject_intake_arm_1
314        245  522_JH  QB245  subject_intake_arm_1
318        102  523_SK  PA102  subject_intake_arm_1
322        103  524_AG  OA103  subject_intake_arm_1
325        111  534_KC  OA111  subject_intake_arm_1
326        104  525_TI  PA104  subject_intake_arm_1
329        105  526_PM  RA105  subject_intake_arm_1
332        246  527_RF  OB246  subject_intake_arm_1
336        106  528_DO  OA106  subject_intake_arm_1
339        107  529_NG  OA107  subject_intake_arm_1
341        108  530_IH  OA108  subject_intake_arm_1
344        251  531_RC  OB251  subject_intake_arm_1
346        109  532_AS  NA109  subject_intake_arm_1
348        110  533_LG  PA110  subject_intake_arm_1
351        112  601_CC  TA112  subject_intake_arm_1
353        113  602_JK  TA113  subject_intake_arm_1
355        114  603_SB  PA114  subject_intake_arm_1
358        249   NB249  NB249  subject_intake_arm_1
360        222   OB222  OB222  subject_intake_arm_1
362        264   OB264  OB264  subject_intake_arm_1
364        269   OB269  OB269  subject_intake_arm_1
366        226   PB226  PB226  subject_intake_arm_1
368        284   RB284  RB284  subject_intake_arm_1

[140 rows x 4 columns]

In [69]:
final_intake.to_csv('~/Downloads/final_intake.csv')