In [1]:
# This script is designed to merge the registration info of an NLR subject with the data they already have in the repository.

# Run script from command line as: python nlr_merge.py nlr_id record_id
# nlr_id format: '123_XX' or '123_XX 456_XX 789_XX'
# record_id format: '123' or '123 456 789'

# Requires: record_id from Screening Database, nlr_id (should be stored in Repository, same as Subject ID from NLR studies)
# Also requires: a newly downloaded 'Export' report from the screening database, and 'SIDs' report from Repository

In [2]:
import pandas as pd
import numpy as np
import os
import glob

In [3]:
# set home directory so can be used on all OS
home = os.path.expanduser('~')

# find the most recent data file exported from the screening database and set it as file_scr
file_scr = max(glob.iglob(home+'/Downloads/RDRPScreeningDatabas_DATA_*'), key=os.path.getctime)

# find the most recent data file exported from the repository and set it as file_repo
file_repo = max(glob.iglob(home+'/Downloads/RDRPRepository_DATA_*'), key=os.path.getctime)

# load data using the record_id as the index
scr = pd.read_csv(file_scr, index_col='record_id', dtype=object)

# load data using the record_id as the index
repo = pd.read_csv(file_repo, index_col='record_id', dtype=object)

In [36]:
temp_scr = scr.loc[scr.index == 326]

In [40]:
temp_scr = temp_scr.set_index([[103]])

In [17]:
scr.ix[326]

child                  0
adult                  1
teen                 NaN
who_complete           2
xx                     0
are_you                0
are_you_cap            0
do_you                 0
do_you_cap             0
have_you               0
have_you_cap           0
i_                     0
i_cap                  0
i_have                 0
i_have_cap             0
my_data                0
their                  0
their_cap              0
v_s                    0
were_you               0
were_you_cap           0
you                    0
you_cap                0
you_and_your           0
you_and_your_cap       0
you_are                0
you_are_cap            0
you_have               0
you_have_cap           0
you_or_your            0
                    ...
speech_dis_other     NaN
speech_dis_treat     NaN
aud_dis                0
aud_dis_dx___1         0
aud_dis_dx___2         0
aud_dis_dx___3         0
aud_dis_dx___4         0
aud_dis_dx___5         0
aud_dis_dx___98        0
aud_dis_other        NaN
aud_dis_treat        NaN
dys_dx                 0
dys_treat            NaN
reading_rate         100
adhd_dx                0
ld_dx                  0
ld_treat             NaN
vision_dis             0
brain_injury           0
brain_injury_des     NaN
brain_injury_cons    NaN
psych_dx               1
meds                   0
scr_metal              0
scr_mri                0
reg_xfer             NaN
repo_xfer            NaN
xfer_complete          0
scr_delete           NaN
delete_complete        0
Name: 326, dtype: object

In [22]:
repo

              redcap_event_name    sid  nlr_id
record_id
1          subject_intake_arm_1  KA001  101_LG
2          subject_intake_arm_1  IA002  102_RS
3          subject_intake_arm_1  KA003  103_AC
4          subject_intake_arm_1  FA004  104_LB
5          subject_intake_arm_1  JA005  105_BB
6          subject_intake_arm_1  JA006  106_KM
7          subject_intake_arm_1  FA007  107_TM
8          subject_intake_arm_1  LA008  109_KT
9          subject_intake_arm_1  JA009  110_HH
10         subject_intake_arm_1  IA010  111_JH
11         subject_intake_arm_1  LA011  112_AR
12         subject_intake_arm_1  KA012  113_JK
13         subject_intake_arm_1  HA013  115_PS
14         subject_intake_arm_1  KA014  117_CG
15         subject_intake_arm_1  IA015  118_IH
16         subject_intake_arm_1  FA016  119_NH
17         subject_intake_arm_1  LA017  121_GG
18         subject_intake_arm_1  JA018  123_MD
19         subject_intake_arm_1  HA019  124_AT
20         subject_intake_arm_1  HA020  126_OC
21         subject_intake_arm_1  HA021  127_AM
22         subject_intake_arm_1  IA022  129_KA
23         subject_intake_arm_1  KA023  130_RW
24         subject_intake_arm_1  GA024  131_MS
25         subject_intake_arm_1  HA025  132_WP
26         subject_intake_arm_1  HA026  133_ML
27         subject_intake_arm_1  HA027  135_RD
28         subject_intake_arm_1  IA028  137_GR
29         subject_intake_arm_1  HA029  138_LA
30         subject_intake_arm_1  HA030  139_NF
...                         ...    ...     ...
284        subject_intake_arm_1  RB284   RB284
285        subject_intake_arm_1  GB285     NaN
286        subject_intake_arm_1  RB286     NaN
287        subject_intake_arm_1  JB287     NaN
288        subject_intake_arm_1  RB288     NaN
289        subject_intake_arm_1  MB289     NaN
290        subject_intake_arm_1  KB290     NaN
292        subject_intake_arm_1  KB292     NaN
294        subject_intake_arm_1  QB294     NaN
295        subject_intake_arm_1  SB295     NaN
296        subject_intake_arm_1  NB296     NaN
297        subject_intake_arm_1  QB297     NaN
298        subject_intake_arm_1  GB298     NaN
301        subject_intake_arm_1  QB301     NaN
302        subject_intake_arm_1  NB302     NaN
303        subject_intake_arm_1  RB303     NaN
304        subject_intake_arm_1  LB304     NaN
305        subject_intake_arm_1  PB305     NaN
306        subject_intake_arm_1  IB306     NaN
308        subject_intake_arm_1  NB308     NaN
310        subject_intake_arm_1  GB310     NaN
312        subject_intake_arm_1  RB312     NaN
313        subject_intake_arm_1  OB313     NaN
315        subject_intake_arm_1  OB315     NaN
316        subject_intake_arm_1  PB316     NaN
319        subject_intake_arm_1  IB319     NaN
320        subject_intake_arm_1  OB320     NaN
321        subject_intake_arm_1  OB321     NaN
326        subject_intake_arm_1  OB326     NaN
328        subject_intake_arm_1  OB328     NaN

[207 rows x 3 columns]

In [24]:
temp_sub = repo.loc[repo['nlr_id']== '524_AG']

In [42]:
temp_sub.combine_first(temp_scr)

,adhd_dx,adult,age,age_months,are_you,are_you_cap,aud_dis,aud_dis_dx___1,aud_dis_dx___2,aud_dis_dx___3,...,you_are,you_are_cap,you_cap,you_have,you_have_cap,you_or_your,you_or_your_cap,your,your_cap,zip
record_id,,,,,,,,,,,,,,,,,,,,,
103,0.0,1.0,21.043439,252.495346,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98122.0

In [11]:
repo.ix[100:110]

              redcap_event_name    sid  nlr_id
record_id
100        subject_intake_arm_1  PA100  520_AA
101        subject_intake_arm_1  OA101  521_GP
102        subject_intake_arm_1  PA102  523_SK
103        subject_intake_arm_1  OA103  524_AG
104        subject_intake_arm_1  PA104  525_TI
105        subject_intake_arm_1  RA105  526_PM
106        subject_intake_arm_1  OA106  528_DO
107        subject_intake_arm_1  OA107  529_NG
108        subject_intake_arm_1  OA108  530_IH
109        subject_intake_arm_1  NA109  532_AS
110        subject_intake_arm_1  PA110  533_LG

In [73]:
scr_id = 326
scr_id

326

In [99]:
temp_data = pd.DataFrame(scr.loc[scr_id, :])

In [100]:
temp_data

                   326
child                0
adult                1
teen               NaN
who_complete         2
xx                   0
are_you              0
are_you_cap          0
do_you               0
do_you_cap           0
have_you             0
have_you_cap         0
i_                   0
i_cap                0
i_have               0
i_have_cap           0
my_data              0
their                0
their_cap            0
v_s                  0
were_you             0
were_you_cap         0
you                  0
you_cap              0
you_and_your         0
you_and_your_cap     0
you_are              0
you_are_cap          0
you_have             0
you_have_cap         0
you_or_your          0
...                ...
speech_dis_other   NaN
speech_dis_treat   NaN
aud_dis              0
aud_dis_dx___1       0
aud_dis_dx___2       0
aud_dis_dx___3       0
aud_dis_dx___4       0
aud_dis_dx___5       0
aud_dis_dx___98      0
aud_dis_other      NaN
aud_dis_treat      NaN
dys_dx               0
dys_treat          NaN
reading_rate       100
adhd_dx              0
ld_dx                0
ld_treat           NaN
vision_dis           0
brain_injury         0
brain_injury_des   NaN
brain_injury_cons  NaN
psych_dx             1
meds                 0
scr_metal            0
scr_mri              0
reg_xfer           NaN
repo_xfer          NaN
xfer_complete        0
scr_delete         NaN
delete_complete      0

[153 rows x 1 columns]

TypeError: Index does not support mutable operations

In [6]:
repo

              redcap_event_name    sid  nlr_id
record_id
1          subject_intake_arm_1  KA001  101_LG
2          subject_intake_arm_1  IA002  102_RS
3          subject_intake_arm_1  KA003  103_AC
4          subject_intake_arm_1  FA004  104_LB
5          subject_intake_arm_1  JA005  105_BB
6          subject_intake_arm_1  JA006  106_KM
7          subject_intake_arm_1  FA007  107_TM
8          subject_intake_arm_1  LA008  109_KT
9          subject_intake_arm_1  JA009  110_HH
10         subject_intake_arm_1  IA010  111_JH
11         subject_intake_arm_1  LA011  112_AR
12         subject_intake_arm_1  KA012  113_JK
13         subject_intake_arm_1  HA013  115_PS
14         subject_intake_arm_1  KA014  117_CG
15         subject_intake_arm_1  IA015  118_IH
16         subject_intake_arm_1  FA016  119_NH
17         subject_intake_arm_1  LA017  121_GG
18         subject_intake_arm_1  JA018  123_MD
19         subject_intake_arm_1  HA019  124_AT
20         subject_intake_arm_1  HA020  126_OC
21         subject_intake_arm_1  HA021  127_AM
22         subject_intake_arm_1  IA022  129_KA
23         subject_intake_arm_1  KA023  130_RW
24         subject_intake_arm_1  GA024  131_MS
25         subject_intake_arm_1  HA025  132_WP
26         subject_intake_arm_1  HA026  133_ML
27         subject_intake_arm_1  HA027  135_RD
28         subject_intake_arm_1  IA028  137_GR
29         subject_intake_arm_1  HA029  138_LA
30         subject_intake_arm_1  HA030  139_NF
...                         ...    ...     ...
273        subject_intake_arm_1  JB273  167_BV
275        subject_intake_arm_1  HB275     NaN
278        subject_intake_arm_1  HB278     NaN
280        subject_intake_arm_1  HB280     NaN
282        subject_intake_arm_1  HB282     NaN
283        subject_intake_arm_1  EB283     NaN
284        subject_intake_arm_1  RB284   RB284
285        subject_intake_arm_1  GB285     NaN
286        subject_intake_arm_1  RB286     NaN
287        subject_intake_arm_1  JB287     NaN
288        subject_intake_arm_1  RB288     NaN
289        subject_intake_arm_1  MB289     NaN
290        subject_intake_arm_1  KB290     NaN
292        subject_intake_arm_1  KB292     NaN
294        subject_intake_arm_1  QB294     NaN
295        subject_intake_arm_1  SB295     NaN
296        subject_intake_arm_1  NB296     NaN
297        subject_intake_arm_1  QB297     NaN
298        subject_intake_arm_1  GB298     NaN
303        subject_intake_arm_1  RB303     NaN
304        subject_intake_arm_1  LB304     NaN
305        subject_intake_arm_1  PB305     NaN
306        subject_intake_arm_1  IB306     NaN
308        subject_intake_arm_1  NB308     NaN
310        subject_intake_arm_1  GB310     NaN
312        subject_intake_arm_1  RB312     NaN
313        subject_intake_arm_1  OB313     NaN
319        subject_intake_arm_1  IB319     NaN
320        subject_intake_arm_1  OB320     NaN
326        subject_intake_arm_1  OB326     NaN

[201 rows x 3 columns]