In [1]:
import pandas as pd
import numpy as np

In [ ]:
# load data
data = pd.read_csv('/Users/douglasstrodtman/Downloads/nlr.csv')

# select adult rows
adults = data[250:]

# build list of dyslexic adults
threshold = 85

In [19]:
dys = adults[adults.TWRE_INDEX <= threshold]
len(pd.unique(dys.Subject))

14

In [20]:
dys = dys.combine_first(adults[adults.TWRE_SWE_SS <= threshold])
dys = dys.combine_first(adults[adults.TWRE_PDE_SS <= threshold])

dys_c = dys.combine_first(adults[adults.CTOPP_PM <= threshold])
dys_c = dys.combine_first(adults[adults.CTOPP_RAPID <= threshold])

# extract unique subs
subs = pd.unique(dys.Subject)


# exclude teens and elders
exclude = np.array(['401_JB', '402_RB', 'NB249', '601_CC', '602_JK'])

adu_dys = dys

for sub in exclude:
	adu_dys = adu_dys[adu_dys.Subject != sub]
	


# select only the columns that are pertinent to the current evaluations
final = adu_dys.ix[:, ['Subject', 'Visit', 'TWRE_SWE_SS', 'TWRE_PDE_SS', 'TWRE_INDEX', 'CTOPP_PM', 'CTOPP_RAPID']]

In [22]:
final

,Subject,Visit,TWRE_SWE_SS,TWRE_PDE_SS,TWRE_INDEX,CTOPP_PM,CTOPP_RAPID
258,502_HW,1,79,64,71,NaN,NaN
259,502_HW,2,82,71,75,NaN,NaN
270,507_JP,1,98,85,91,NaN,NaN
271,507_JP,2,100,77,88,NaN,NaN
274,508_RC,1,82,109,95,NaN,NaN
279,510_DT,1,88,84,85,NaN,NaN
280,510_DT,2,91,85,87,NaN,NaN
283,511_RC,1,71,71,69,NaN,NaN
284,511_RC,2,65,67,64,NaN,NaN
288,513_EO,1,72,83,76,NaN,NaN
295,516_TT,1,71,89,79,NaN,NaN
297,516_TT,3,77,90,83,NaN,NaN
308,520_AA,1,89,80,84,NaN,NaN
310,520_AA,3,99,84,91,95,85
318,523_SK,1,87,64,74,NaN,NaN
319,523_SK,2,97,74,85,NaN,NaN
326,525_TI,1,66,93,78,NaN,NaN
339,529_NG,1,83,95,88,NaN,NaN
340,529_NG,2,81,100,90,116,52
350,534_KC,1,66,90,77,NaN,NaN
366,PB226,1,94,77,85,NaN,NaN
367,PB226,2,91,80,85,85,79

In [ ]:
good = 100
dys = adults[adults.TWRE_INDEX >= good]
dys = dys.combine_first(adults[adults.TWRE_SWE_SS >= good])
dys = dys.combine_first(adults[adults.TWRE_PDE_SS >= good])

dys_c = dys.combine_first(adults[adults.CTOPP_PM >= good])
dys_c = dys.combine_first(adults[adults.CTOPP_RAPID >= good])

# extract unique subs
subs = pd.unique(dys.Subject)